*{
    margin: 0;
    padding: 0;
    background-color: #F5F3EE;
}

.header{
    min-height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
}

/*logo*/
nav img{
   width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 34px;
position: relative;
}

.nav-links ul li a{
    color: #4B341D;
    text-decoration: none;
    font-size: 20px
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #2E4F6F;
    display:block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
@media screen (max-width: 700px) {
    .tekstboks h1 {
        font: size 20px;

    }
    
}