
:root{
    --space-s:20px;
    --space-m:40px;
    --space-l:80px;
    --space-xl:120px;
    --typografi-color:#4B341D; 
    --background-color:#F5F3EE; 
    --border-bottom:#8B6F4E;
    --section-padding-desktop: 140px
}

html{
    scroll-padding-top: 120px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header som er sticky*/
header{
    position: sticky;
    top:0;
    background-color: var(--background-color);
    z-index: 1000;
}

section{
    z-index: 1;
}

body {
    background-color: var(--background-color);
    font-family: "Playfair Display", serif;
    line-height: 1.6;
}
/*typografi for h1 h2 og p*/

h1{
    font-weight: 900;
    color: var(--typografi-color);
    font-size: 1.8rem;
    margin-bottom: var(--space-s);
}

h2{ 
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--typografi-color);
    margin-bottom: var(--space-s);
}
/*h2 på en linje*/
.single-line{
    white-space: normal;
    text-align: center;
}
p{
    font-size:1.1rem;
    margin-bottom: var(--space-s);
    color:var(--typografi-color);
}

/*navigation - mobile first*/

nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    border-bottom: 1px solid var(--border-bottom);
}

/*logo og menu*/
nav img{
   width: 90px;
   display: block;
   order: 1;
}


/*menu links mobile*/
.nav-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 200;
        background-color: #F5F3EE;
        transition: all 0.3s ease-in-out;
        gap:var(--space-m);
}

.nav-links ul {
list-style: none;
text-align: center;
}

.nav-links ul li{
margin: var(--space-s) 0;
}

.nav-links ul li a{
    color: var(--typografi-color);
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s ease-in-out; 
    position:relative;
}
.nav-links ul li a::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:#4B341D;
    transition: 0.15s ease-in-out;
}
/* mobil brugermenu*/
.nav-links ul li a:hover:after{ width: 100%;} 

    .open-menu{
    top: 18px;
    right: 32px;
    font-size:2rem;
    display:block;
    color:var(--typografi-color);
}

.close-menu{
    position: absolute;
    top: 20px;
    right: 32px;
    font-size:2rem;
    display:block;
    cursor: pointer;
    color:var(--typografi-color);
    }

#check {display: none;}

#check:checked ~ .nav-links {
    right: 0;}

/*main*/

/*front side*/
.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--space-s);
    padding: var(--space-s);
}
.framesheila-img{
    order: 2;
}

.textbox-text{
    order: 1;
    flex:1;
    max-width: 350px;
    text-align: center;

}
.framesheila-img img{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

/*about me sektion*/
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--space-m) var(--space-m);
}

/*projects*/
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--space-m) var(--space-m);
}



/*footer and contact*/
    .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--space-l) var(--space-m);
    }

    /*selve pilen footer*/

    }
    .back-to-top {
    display: inline;
    margin-top: 40px;
    }
    .back-to-top i{
    font-size: 1.8rem;
    color: var(--border-bottom);
    opacity: 0.6;
    transition: opacity 0.2s, transform 0.2s;
    }

    .back-to-top:hover i{
    opacity:0,75;
    transform: translateY(-6px);
    }

/*lille mobil*/
@media screen and (max-width:480px) {
   .textbox{
    gap: 20px;
    padding: 20px;
   }
   .textbox-text h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
   }
    .textbox-text h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
   }
   .textbox-text p{
    font-size: 1rem;
   }
   .framesheila-img{
    max-width: 280px;
   }
}



/*desktop version*/

@media screen and (min-width:600px){

   /*typografi web*/    
    h1{
        line-height:3rem;
        white-space: nowrap;
     }

    h1 br{display: none;}

    h2{font-size:1.6rem;}

    p{font-size:1.3rem;}
    
    /*nav mobil*/
        nav img {
        width: 110px;
    }

    nav{
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
    }
    /*hvis menu vandret*/
    .nav-links{
        position: static;
        right: 0;
        width: auto;
        height: auto;
        background: none; /*fjerner baggrund*/
        display: flex;
        align-items: center;
        justify-content: center;
        gap:var(--space-m);
    }
    .nav-links ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    .open-menu, .close-menu{
    display: none;
    }

    /*forside layout desktop*/
    .textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 140px 20px 110px 20px;
    gap: 50px;
    }


    /*front billede i rammme*/
     .framesheila-img img {
    max-width: 520px;
    height: auto;
    }

    .framesheila-img{
        order: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }  
    .textbox-text {
        max-width: 480px;
    }

    /*about me*/
    .about-me{
    flex-direction: row;
    padding: 100px 20px 160px 20px;
    }

    /*projects*/
    .projects{
        padding: 120px 20px 190px 20px;
    }
}
