
:root{
 /*spacing scale*/
    --space-s:20px;
    --space-m:40px;
    --space-l:80px;
    --space-xl:120px;
/*colors*/
    --typografi-color:#4B341D; 
    --background-color:#F5F3EE; 
    --border-bottom:#8B6F4E;
/*layout*/
    --section-max-width: 1110px;
}

html{
    scroll-padding-top: 120px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Playfair Display", serif;
    line-height: 1.6;
}
/*typografi for h1 h2 og p*/

h1,
h2,
p{
    color: var(--typografi-color)
}

h1{
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: var(--space-s);
}

h2{ 
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: var(--space-s);
}

p{
    font-size:1.05rem;
    margin-bottom: var(--space-s);
}
/*hero specifik typografi*/
.textbox h1{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.45rem;
    margin: 0 auto 22px;
    max-width: 320px;
    text-align: center;

}
.textbox h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    max-width: 340px;
    margin-bottom: 22px;
}
.textbox p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.6rem;
    opacity: 0.95;
    text-align: center;
    max-width: 330px;
}

/*layout helpers*/
.section{
    max-width: var(--section-max-width);
    margin: 0 auto;
}

section{
    padding: 60px 20px;
}

/*header/navigation*/
header{
    position: sticky;
    top:0;
    background-color: var(--background-color);
    z-index: 1000;
    border-bottom: 1px solid var(--border-bottom);
}

.nav{
    max-width: var(--section-max-width);
    margin: 0 auto;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.nav-logo img{
    width: 70px;
    display: block;
    height: auto;
}

/*menu links mobile*/
.nav-links{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;

      width: 70%;
     height: 100vh;
     position: fixed;
     top: 0;
     right: -100%;
     z-index: 200;

     background-color: var(--background-color);
     transition: all 0.3s ease-in-out;
     gap:var(--space-m);
     padding-top:60px;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links ul li{
margin: var(--space-s) 0;
}

.nav-links ul li a{
    color: var(--typografi-color);
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s ease-in-out; 
    position:relative;
}
.nav-links ul li a::after{
    content:'';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background-color:#4B341D;
    transition: 0.15s ease-in-out;
}
.nav-links ul li a:hover:after{
   width: 100%; 
}
 
/* mobil brugermenu*/
    .open-menu{
    font-size:2rem;
    display: block;
    color:var(--typografi-color);
    cursor: pointer;
}

.close-menu{
    position: absolute;
    top: 26px;
    right: 26px;
    font-size:2rem;
    display:block;
    cursor: pointer;
    color:var(--typografi-color);
    }

#check {display: none;}

#check:checked ~ .nav-links {
    right: 0;}

/*main*/

/*front side*/
.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px 40px;
}
.framesheila-img{
    order: 2;
    margin-top: 40px;
}

.textbox-text{
    order: 1;
    flex:1;
    max-width: none;
    text-align: center;
    padding-inline: 10px;

}
.framesheila-img img{
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: block;
    margin-bottom: var(--space-s);
}



/*about me sektion*/
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F3EFEA;
}

/*projects*/
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.project-info{
    font-size: 1.1rem;
    margin-top: var(--space-s);
}
/*grid wrapper*/
.project-grid{
    display: flex;
    flex-direction: column; /*1 box per række*/
    gap:30px; /*afstand*/
    width: 100%;
    margin-top: 40px;
}
/*hver box*/
.project-box{
    background-color: #F3EFEA;
    border: 1px solid var(--border-bottom);
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    transition: transform .2s ease, box-shadow .2s ease;
}
.project-box:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    background-color: #F8F5F0;
}

/*billeder til project*/
.project-box img{
    width: 100%;
    max-width: 260px;
    height: auto;
    margin: 0 auto 15px;
    display: block;
}

/*overskrift til boxen*/
.project-box h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--typografi-color);
}

/*beskrivelse af tekst*/
.project-box p {
    font-size: 1rem;
    opacity: 0.9;
    color: var(--typografi-color);
}

/*giver skygge til moodboard billede*/
 .moodboard-img {
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
}

/*open moodbaord full størrelse*/
.fullview-link{
    display: inline;
    margin: 12px 0 20px 0;
    font-size: 0.9rem;
    color: var(--typografi-color);
    opacity: 0.85;
}
.fullview-link:hover{
    opacity: 1;
}


/*footer and contact*/
    .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    }

/*selve pilen footer*/
    .back-to-top {
    display: inline-block;
    margin-top: 50px;
    }
    .back-to-top i{
    font-size: 1.8rem;
    color: var(--border-bottom);
    opacity: 0.6;
    transition: opacity 0.2s, transform 0.2s;
    }

    .back-to-top:hover i{
    opacity:0.75;
    transform: translateY(-6px);
    }


/*desktop version*/

@media screen and (min-width:600px){

   /*hero typografi web*/    
   .textbox h1 {
    font-size: 2.8rem;
    line-height: 3.3rem;
    margin-bottom: 22px;
    max-width: 520px;
    }

    .textbox h2 {
        font-size: 1.6rem;
        margin-bottom: 22px;
        max-width: 420px;
    }

    .textbox p {
        font-size: 1.2rem;
        max-width: 500px;
        line-height: 1.9rem;
    }
/*header desktop*/
    .nav{
        max-width: var(--section-max-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        margin: 0 auto;

    }    
    
    .nav-logo img{
        width: 115px;
    }

    .open-menu, .close-menu{
    display: none;
    }

    #check {
        display: none;
    }

    .nav-links{
        position: static;
        width: auto;
        height: auto;
        background: none; /*fjerner baggrund*/
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 0;
        padding-top:0;
    }

    .nav-links ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 0;
        padding: 0;
    }

    .nav-links a{
        display: flex;
        align-items: center;
        padding: 0;
        line-height: 1;
    }

    /*forside layout desktop*/
    .textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 20px 140px 20px;
    gap: 80px;
    text-align: left;
    flex-direction: row;
    }


    /*front billede i rammme*/
     .framesheila-img img {
    max-width: 500px;
    height: auto;
    }

    .framesheila-img{
        order: 2;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }  
    .textbox-text {
        max-width: 480px;
        order: 1;
        text-align: left;
    }

    /*about me*/
    .about-me{
    display: flex;
    justify-content: center;
    padding: 160px 20px;
    }

    .about-me-text{
        max-width: 600px;
        text-align: left;
    }

    /*projects*/
    .projects{
        padding: 120px 20px 190px 20px;
    }

    .project-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr); /*3 projecter på en række*/
        gap: 40px;
        max-width: 1200px;
        margin: 60px auto 0;

    }


}
