*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F3EE;
    font-family: "playfair+Playfair", serif;
}
/*typografi for h1 h2 og p*/
h1{
    font-family:"Playfair Display", serif;
    font-weight: 900;
    font-size:4rem;
    line-height:1.1;
    color:#4B341D;
    margin-bottom:  20px;
}

h2{
    font-family:"Playfair Display", serif;
    font-weight: 600;
    font-size:2.4rem;
    line-height:1.2;
    color:#4B341D;
    margin-bottom:  20px;
}

p{
        font-family:"Playfair", serif;
    font-weight: 400;
    font-size:1.3rem;
    line-height:1.6;
    color:#4B341D;
}

/*header og navigation*/
.header{
    width: 100%;
    padding-bottom: 60px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
    padding: top 10px bottom 20px left 40px right 40px;
}

/*logo og menu*/
nav img{
   width: 140px;
}

/*menu links desktop*/
.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 18px;
position: relative;
}

.nav-links ul li a{
    color: #4B341D;
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s ease-in-out; 
    position:relative;

}
.nav-links ul li a::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:#4B341D;
    transition: 0.15s ease-in-out;
}
/*brugermenu*/
.nav-links ul li a:hover:after{ width: 100%;}
.open-menu, .close-menu{
    position: absolute;
    color:#4B341D;
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
}
/*menu ikoner*/
.open-menu{
    top: 28px;
    right: 32px;
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.close-menu{
    top: 28px;
    right: 32px;
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

#check {display: none;}

#check:checked ~ .nav-links {
    right: 0;}

/*main*/

/*front side*/
.textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 40px 20px;
}

/*mobil version*/

@media screen and (max-width:610px){
   /*typografi mobil*/
    h1{font-size: 2.5rem;}
    h2{font-size: 1.8rem;}
    p{font-size:1.1rem;}
    
    /*nav mobil*/
        nav img {
        width: 90px;
    }
     .nav-links{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 200;
        background-color: #F5F3EE;
        transition: all 0.3s ease-in-out;
        gap:40px;
        padding-top: 120px;
    }
        .open-menu, .close-menu {
        display: block;
    }
        .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .nav-links li {
        margin-top: 0;
    }

    .nav-links li a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    /*forside layout mobil*/
    .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
}
    /*front billede i rammme*/
    .framesheila-img{
        order: 1;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px 0px;
    }  
    .textbox-text {
        order: 2;
        text-align: center;
        padding: 20px;
        width: 100%;
    }
    .framesheila-img img {
    width: 100%;
    max-width: 480px;
    height: auto;
    }
}
