
:root{
 /*spacing scale*/
    --space-s:20px;
    --space-m:40px;
    --space-l:80px;
    --space-xl:120px;
/*colors*/
    --typografi-color:#4B341D; 
    --background-color:#F5F3EE; 
    --border-bottom:#8B6F4E;
/*layout*/
    --section-max-width: 1110px;
}
/* offset for anchor links to avoid sticky header overlap */
section[id]{
    scroll-margin-top: 74px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: "Playfair Display", serif;
    line-height: 1.6;
}
/* Base typography */

h1,
h2,
p{
    color: var(--typografi-color)
}

h1{
    font-weight: 900;
    font-size: 2.2rem;
    margin-bottom: var(--space-s);
}

h2{ 
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: var(--space-s);
}

p{
    font-size:1.05rem;
    margin-bottom: var(--space-s);
}
/* Links */
a{
    color: var(--typografi-color);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

/*Hero typography*/
.textbox h1{
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 2.45rem;
    margin: 0 auto 22px;
    max-width: 320px;
    text-align: center;

}
.textbox h2{
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    max-width: 340px;
    margin-bottom: 22px;
}
.textbox p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0 auto;
    line-height: 1.6rem;
    opacity: 0.95;
    text-align: center;
    max-width: 330px;
}

section{
    padding: 60px 20px;
}

/*header and navigation*/
header{
    position: sticky;
    top:0;
    height: 74px;
    min-height: 74px;
    background-color: var(--background-color);
    z-index: 1000;
    border-bottom: 1px solid var(--border-bottom);
}

.nav{
    max-width: var(--section-max-width);
    height: 100%;
    margin: 0 auto;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
/* Logo image */
.nav-logo img{
    width: 70px;
    display: block;
    height: auto;
}

/*Mobile navigation menu*/
.nav-links{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;

      width: 70%;
     height: 100svh;
     position: fixed;
     top: 0;
     right: -100%;
     z-index: 200;

     background-color: var(--background-color);
     transition: all 0.3s ease-in-out;
     gap:var(--space-m);
     padding-top:60px;
}
/* Remove list styling */
.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Remove list styling */
.nav-links ul li{
margin: var(--space-s) 0;
}
/* Navigation link styling */
.nav-links ul li a{
    color: var(--typografi-color);
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s ease-in-out; 
    position:relative;
}
/* Animated underline on hover */
.nav-links ul li a::after{
    content:'';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 1px;
    background-color:#4B341D;
    transition: 0.15s ease-in-out;
}
.nav-links ul li a:hover:after{
   width: 100%; 
}
 
/* Burger menu button */
    .open-menu{
    font-size:2rem;
    display: block;
    color:var(--typografi-color);
    cursor: pointer;
}
/* Close menu button */
.close-menu{
    position: absolute;
    top: 26px;
    right: 26px;
    font-size:2rem;
    display:block;
    cursor: pointer;
    color:var(--typografi-color);
    }

/* Hide checkbox */
#check {display: none;}

/* Show menu when checkbox is checked */
#check:checked ~ .nav-links {
    right: 0;}

/*Hero layout*/
.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.framesheila-img{
    order: 2;
    margin-top: 40px;
}

.textbox-text{
    order: 1;
    flex:1;
    max-width: none;
    text-align: center;
    padding-inline: 10px;

}
.framesheila-img img{
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    display: block;
    margin-bottom: var(--space-s);
}



/*about me section*/
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #F3EFEA;
     padding: 10px 20px 20px;
}
/*tools section*/
.tools-section{
    padding: 30px 20px 40px;
    background-color: #F3EFEA;
    margin: 0;;
    text-align: center;
}
.tool-text{
    margin-bottom: 10px;
    line-height: 1.4;
}
/* Tool icons layout using CSS Grid Safari-safe */
.tool-icon{
    display: grid;
    grid-template-columns: repeat(7, 40px);
    justify-content: center;
    gap: 6px;
    width: 100%;
}
/* Tool icons styling */
.tool-icon img{
    display: inline-block;
    width: 40px;
    height: auto;  
    filter: sepia(70%) saturate(60%) brightness(95%);/*gør iconerne brunlige*/
}

/*Projects section*/
.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/* Project grid (mobile layout) */
.project-grid{
    display: flex;
    flex-direction: column; /*1 box per række*/
    gap:30px; /*afstand*/
    width: 100%;
    margin-top: 40px;
}
/* Individual project card */
.project-box{
    background-color: #F3EFEA;
    border: 1px solid var(--border-bottom);
    border-radius: 12px;
    padding: 20px;
    text-align: left;
    transition: transform .2s ease, box-shadow .2s ease;
    display: flex;
    flex-direction: column;
}
.project-box h3 {
    margin-top: 20px;
}

/* Hover effect on project cards */
.project-box:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    background-color: #F8F5F0;
}

/*pictures projects*/
.project-box img{
    width: 100%;
    max-width: 260px;
    height: auto;
    margin: 0 auto 15px;
    display: block;
}

.project-box h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--typografi-color);
}

.project-box p {
    font-size: 1rem;
    opacity: 0.9;
    color: var(--typografi-color);
}

/*zoom out of box*/
.project-box .zoom-outside{
    overflow: visible;
    position: relative;
}

/*hover*/
.moodboard-wrapper{
    max-width: 420px;
    overflow:visible;
    margin: 0 auto;
}

/*shadow*/
 .moodboard-img {
    box-shadow: 0 4px 24px rgba(0,0,0,0.08);
    transition: transform 0.4s ease;
    display: block;
}
/*slide with toch*/
.touch-slider {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; /* WebKit-specific styling for smoother scrolling */
    display: block;
    width: 100%;
}

.touch-slider::-webkit-scrollbar {
    display: none; /* no scrollbar */
}

.slides {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.slides img {
    width: 100%;
    height: auto;
    scroll-snap-align: start;
    flex-shrink: 0;
}
.scroll-hint {
    text-align: center;
    font-size: 1rem;
    opacity: 0.55;
    margin-top: 2px;
    color: var(--typografi-color);
    letter-spacing: 1.5px;
    user-select: none;
    margin-bottom: 15px;
}

 .before-after-side {
    display: flex;
    gap: 20px;
    justify-content: center;
}
 .before-after-side img {
    width: 100%;
    max-width: 260px;
    border-radius: 8px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
/*before and after style*/
.label{
    font-size: 0.9rem;
    color: var(--typografi-color);
    margin-bottom: 8px;
    display: block; /*tekst over billede*/
    text-align: center;
    opacity: 0.75;
}
/*video size*/
/*hover on video*/
.video-wrapper {
    max-width: 250px;
    margin: 0 auto 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12); /*skygge til videoen*/
    overflow: hidden;
}

.project-video {
    width: 100%;
    display: block;
    transition: transform 0.4s ease;
}

.video-wrapper:hover .project-video {
    transform: scale(1.05);
}
.newarrivals{
    max-width: 400px;
    margin: 0 auto 2rem;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.12); /*skygge til videoen*/
    overflow: hidden;
}
.some-project img {
    border-radius: 16px;
    max-width: 225px;
}


/*footer*/
.footer{
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer-text{
    text-align: center;
}
.footer a {
    color: var(--typografi-color);
    text-decoration: underline;
}

/*desktop version*/

@media screen and (min-width:600px){

   /*Hero typography desktop*/    
   .textbox h1 {
    font-size: 2.8rem;
    line-height: 3.3rem;
    margin-bottom: 22px;
    max-width: 520px;
    }

    .textbox h2 {
        font-size: 1.6rem;
        margin-bottom: 22px;
        max-width: 420px;
    }

    .textbox p {
        font-size: 1.2rem;
        max-width: 500px;
        line-height: 1.9rem;
    }
/*Header and navigation desktop*/
    .nav{
        max-width: var(--section-max-width);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        margin: 0 auto;

    }    
    
    .nav-logo img{
        width: 115px;
    }
    /* Hide burgermenu on desktop */
    .open-menu, .close-menu{
    display: none;
    }

    /* Hide checkbox (only used for mobile menu) */
    #check {
        display: none;
    }

    /* Desktop navigation layout */
    .nav-links{
        position: static;
        width: auto;
        height: auto;
        background: none; /* Remove mobile menu background */
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 0;
        padding-top:0;
    }

      /* Navigation list layout desktop */
    .nav-links ul {
        display: flex;
        flex-direction: row;
        gap: 30px;
        margin: 0;
        padding: 0;
    }

    /* Navigation link alignment */
    .nav-links a{
        display: flex;
        align-items: center;
        padding: 0;
        line-height: 1;
    }

    /*Hero layout desktop*/
    .textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 160px 20px 140px 20px;
    gap: 80px;
    text-align: left;
    flex-direction: row;
    }


    /* Portrait image */
     .framesheila-img img {
    max-width: 500px;
    height: auto;
    }

    .framesheila-img{
        order: 2;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 0px;
    }  
    .textbox-text {
        max-width: 480px;
        order: 1;
        text-align: left;
    }

    /*about me section*/
    .about-me{
    justify-content: center;
    padding: 80px 20px 30px;
    }

    .about-me-text{
        max-width: 600px;
        text-align: center;
        margin: 0 auto;
    }

    /*tools section*/
    .tools-section{
       padding-top: 20px;
       padding-bottom: 100px;
    }
    .tool-icon{
        justify-content: center;
        gap: 20px;
    }
    .tool-icon img {
        width: 50px;
        border-radius: 10px;
        padding: 8px;

    }

    /*projects section*/
    .projects{
        padding: 120px 20px 190px 20px;
    }

    /* Project grid layout (two columns on desktop) */
    .project-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 40px;
        max-width: 1200px;
        margin: 60px auto 0;

    }

    /* Moodboard image sizing */
    .moodboard-wrapper img,
    .moodboard-img {
        max-width: 500px;
    }

    /* Zoom effect on hover */
    .moodboard-wrapper:hover .moodboard-img{
        transform: scale(1.15);
    }

    /* Project video sizing */
    .project-video {
    max-width: 600px;
    margin: 0 auto;
    display: block;
}
}

