*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #F5F3EE;
}

.header{
    width: 100%;
    padding-bottom: 60px;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items:center;
    padding: top 10px bottom 20px left 40px right 40px;
}

/*logo*/
nav img{
   width: 140px;
}

@media screen and (max-width: 610px){
    nav img {
        width: 90px;
    }
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
}

.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 18px;
position: relative;
}

.nav-links ul li a{
    color: #4B341D;
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s ease-in-out; 
    position:relative;

}
.nav-links ul li a::after{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color:#4B341D;
    transition: 0.15s ease-in-out;
}
/*brugermenu*/
.nav-links ul li a:hover:after{ width: 100%;}
.open-menu, .close-menu{
    position: absolute;
    color:#4B341D;
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
}
.open-menu{
    top: 28px;
    right: 32px;
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.close-menu{
    top: 28px;
    right: 32px;
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

#check {display: none;}

@media screen and (max-width:610px){
    .nav-links{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 70%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 200;
        background-color: #F5F3EE;
        transition: all 0.3s ease-in-out;
        gap:40px;
        padding-top: 120px;
    }

    .nav-links ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .nav-links li {
        margin-top: 0;
    }

    .nav-links li a {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .open-menu, .close-menu {
        display: block;
    }
}

#check:checked ~ .nav-links {
    right: 0;}